.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;
  margin-top: 30px;

  .title {
    margin: 10px 0;
  }
}
@media (max-width: 768px) {
  .sign-up {
    width: 100%;
    padding: 20px;
    .title {
      margin: 0;
    }
  }
}
