@keyframes showAlert {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  75% {
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes hideAlert {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(200px);
  }
}

@mixin alert {
  min-width: 250px;
  height: 80px;
  padding: 10px;
  font-size: 16px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  right: 0;
  top: 0;
  margin-top: 100px;
  margin-right: 50px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  animation: showAlert 0.5s, hideAlert 0.5s 5s forwards;

  border: 2px solid #000000;

  &:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
    cursor: pointer;

    .process {
      -webkit-animation-play-state: paused;
      -moz-animation-play-state: paused;
      -o-animation-play-state: paused;
      animation-play-state: paused;
      cursor: pointer;
    }
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
  }
}

@keyframes processTimeout {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
    display: none;
    visibility: hidden;
  }
}

@mixin process {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 5px;
  width: 100%;
  animation: processTimeout 5s forwards;
}

.primary {
  @include alert;
  .process {
    @include process;
    background-color: #5edfff;
  }
}

.error {
  @include alert;
  .process {
    @include process;
    background-color: #f66767;
  }
}

.success {
  @include alert;
  .process {
    @include process;
    background-color: #52de97;
  }
}
