.spinner-overlay {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-container {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 15px solid #fff;
  border-top: 15px solid #000;
  border-bottom: 15px solid #000;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  @keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
}
