.directory-menu {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .directory-menu {
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
  }
}
