.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
  }

  &__options {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;

    .option {
      padding: 10px 20px;
      cursor: pointer;

      &:hover {
        &::before {
          content: '/';
          position: absolute;
          margin-left: -10px;
        }
        &::after {
          content: '/';
          position: absolute;
          margin-right: 10px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    .logo-container {
      padding: 10px;
    }
    &__logo {
      width: 40px;
    }
    &__options {
      font-size: 15px;
      width: 80%;
    }
  }
}
